:root {
    --cor-fundo: #0d0d0d;
    --cor-secundaria: #1a1a1a;
    --cor-detalhe: #262626;
    --cor-detalhe2: #080808;
    --cor-hover: #333333;
    --cor-primaria: #e0e0e0;
    --cor-secundaria-destaque: #b3b3b3;
    --texto-primario: #f2f2f2;
    --texto-secundario: #a6a6a6;
    --borda: #3d3d3d;
    --input-fundo: #1a1a1a;
    --input-borda: #4d4d4d;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: var(--texto-primario);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

body {
    background-color: var(--cor-fundo);
    height: 110dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

main {
    position: relative;
    background-color: var(--cor-fundo);
    width: calc(100% - 20dvw);
    min-height: 90dvh;
    left: 20%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10dvh;
    background: var(--cor-secundaria);
}

aside {
    width: 20vw;
    height: 90%;
    bottom: 0;
    background-color: var(--cor-detalhe);
    position: fixed;
}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

aside ul a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

aside ul a:hover {
    background-color: var(--cor-secundaria);
}

.menu-link.active {
    color: var(--cor-secundaria-destaque);
    font-weight: bold;
    background-color: var(--cor-secundaria);
}
.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.logo img {
    padding: 10px 10px 0px;
    width: 70px;
    height: 60px;
}
.perfil img {
    object-fit: cover;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}