:root {
    --cor-fundo: #0d0d0d;
    --cor-secundaria: #1a1a1a;
    --cor-detalhe: #262626;
    --cor-detalhe2: #080808;
    --cor-hover: #333333;
    --cor-primaria: #e0e0e0;
    --cor-secundaria-destaque: #b3b3b3;
    --texto-primario: #f2f2f2;
    --texto-secundario: #a6a6a6;
    --borda: #3d3d3d;
    --input-fundo: #1a1a1a;
    --input-borda: #4d4d4d;
    --destaque: rgb(102, 28, 145);
    --destaque2: #1a1a1a;
    --fundo-destaque: rgba(62, 25, 121, 0.562);
    --fundo-destaque2: #0d0d0dcb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    color: var(--texto-primario);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

body {
    background: linear-gradient(to right, var(--fundo-destaque), rgb(104, 8, 133));
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    width: 80dvw;
    height: 80dvh;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.616);
    animation: fadeIn 1s ease-in forwards;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(200px);
  }
  100% {
    opacity: 1; /* End with opacity 1 */
    transform: translateY(0px);
  }
}

/* @keyframes anim {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.1;
    }
    40%{
        opacity: 0.2
    }
    60%{
        opaciity: 0.3;
    }
    80%{
        opaciity: 0.4;
    }
    100%{
        opaciity: 1;
    }
} */

.entrar_container {
    padding: 20px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--fundo-destaque);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cadastrar_container{
    padding: 20px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--fundo-destaque2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.entrar_container p, .cadastrar_container p{
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--texto-primario);
}
.entrar_container a, .cadastrar_container a {
    margin-top: 20px;
    width: 80%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--texto-primario);
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--texto-primario);
    transition: all 0.3s ease;
}
.entrar_container a:hover{
    transform: scale(1.05);
    background-color: var(--texto-primario);
    color: var(--destaque);
}
.cadastrar_container a:hover{
    transform: scale(1.05);
    background-color: var(--texto-primario);
    color: var(--destaque2);
}
.container:has(input[name="nome"]:focus) #span_nome {
    animation: mostrarElemento 0.3s ease forwards;
}
.container:has(input[name="email"]:focus) #span_email {
    animation: mostrarElemento 0.3s ease forwards;
}
.container:has(input[name="senha"]:focus) #span_senha {
    animation: mostrarElemento 0.3s ease forwards;
}
.entrar_container span, .cadastrar_container span {
    position: absolute;
    top: 22%;
    opacity: 0;
    font-size: 1.6rem;
    text-shadow: 0 0 5px white;
}

@keyframes mostrarElemento {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.formulario_cadastro input:-webkit-autofill, .formulario_cadastro input:-webkit-autofill:hover, .formulario_cadastro input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--destaque); /* Define a cor do texto */
  background-color: white !important; /* Torna o fundo transparente */
  transition: background-color 500s ease-in-out 0s; /* Tenta impedir o navegador de mudar a cor de volta */
}
.formulario_login input:-webkit-autofill, .formulario_login input:-webkit-autofill:hover, .formulario_login input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--destaque2); /* Define a cor do texto */
  background-color: white !important; /* Torna o fundo transparente */
  transition: background-color 500s ease-in-out 0s; /* Tenta impedir o navegador de mudar a cor de volta */
}
.formulario_cadastro, .formulario_login {
    width: 60%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.formulario_cadastro h1 {
    color: var(--destaque);
}
.formulario_login h1{
    color: var(--destaque2);
}
.formulario_cadastro form, .formulario_login form {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.formulario_cadastro form label, .formulario_login form label {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.formulario_cadastro form label i {
    color: var(--destaque);
}
.formulario_login  form label i{
    color: var(--destaque2);
}
.formulario_cadastro form input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--destaque);
    border-radius: 5px;
    outline: none;
    color: var(--texto-primario);
    color: var(--destaque);
    box-shadow: 0 5px 10px 1px rgb(133, 133, 133);
    transition: all .3s ease;
}
.formulario_login form input{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--destaque2);
    border-radius: 5px;
    outline: none;
    color: var(--texto-primario);
    color: var(--destaque2);
    box-shadow: 0 5px 10px 1px rgb(133, 133, 133);
    transition: all .3s ease;
}
.formulario_cadastro form input:focus, .formulario_login form input:focus{
    transform: scale(1.02);
}
.formulario_cadastro form button{
    width: 60%;
    padding: 10px;
    background-color: var(--destaque);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--texto-primario);
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px 1px rgb(133, 133, 133);
}
.formulario_login form button {
    width: 60%;
    padding: 10px;
    background-color: var(--destaque2);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--texto-primario);
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px 1px rgb(133, 133, 133);
}
.formulario_cadastro form button:hover, .formulario_login form button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}